{% extends 'menu.html' %}

{% block content1 %}
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block">
          <img src="https://tienda.claro.com.co/wcsstore/Claro/images/catalog/equipos/646x1000/70040936.jpg" class="img-fluid" alt="Responsive image" ></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Detalle del Aritculo</h1>
            </div>
            <form class="user" action="/usuarios" method="POST">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label for="disabledTextInput" class="form-label">Samsum Galaxy 11</label>  
                  
                </div>
                <div class="col-sm-6">
                    <label for="disabledTextInput" class="form-label">Samsum Galaxy 11</label>  
                </div>
              </div>
              
              <div class="form-group">
                <label for="disabledTextInput" class="form-label">Samsum Galaxy 11</label>  
              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label for="disabledTextInput" class="form-label">Samsum Galaxy 11</label>  
                </div>
                <div class="col-sm-6">
                    <label for="disabledTextInput" class="form-label">Samsum Galaxy 11</label>  
                </div>
              </div>

              <div class="form-group">
                
                <input type="email" class="form-control form-control-user mb-3" id="usuario" name="usuario" placeholder="Comentario">
              </div>
              <div class="form-group">
                <label for="disabledTextInput" class="form-label">Calificacion</label> 
              <nav aria-label="...">
                <ul class="pagination pagination-sm">
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">1</span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                </ul>
              </nav>

              <label for="customRange1" class="form-label">Example range</label><input type="range" class="form-range" id="customRange1">
            </div>
              <button class="btn btn-primary btn-user btn-block" type="submit">Actualizar</button>
            <!--  <hr>
              <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Register with Google
              </a>
              <a href="index.html" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
              </a>
            </form>
            <hr> -->
          </form>
            <hr>
          
            <div class="text-center">
              <a class="small" href="{{url_for('menu_carrito')}}">Ver Productos</a>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}