{% extends 'base.html' %}

{% block content %}
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block">
          <img src="https://crehana-blog.imgix.net/media/filer_public/09/dd/09ddd7fc-8f0f-454c-a979-273c7a81afa2/politica-privacidad-unica.jpg?auto=format&q=50 class="img-fluid" alt="Responsive image" ></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Políticas de privacidad y condiciones de uso Mensajeria Mintic Grupo 13</h1>
            </div>
          
             <P class="text-wrap">
                El Manual de Políticas de Seguridad y Privacidad de la Información del Ministerio de Comercio, Industria y Turismo – MinCIT reúne las políticas y directrices institucionales, y los estándares de seguridad de información y protección de datos personales, que son el marco para la implementación de los procedimientos y controles de seguridad y privacidad de información.
             </P>
        
            <hr>
         
            <div class="text-center">
              <a class="small" href="{{url_for('registro')}}">Registrarme</a>

              <div class="card" style="width: 18rem;">
                <img src="https://crehana-blog.imgix.net/media/filer_public/09/dd/09ddd7fc-8f0f-454c-a979-273c7a81afa2/politica-privacidad-unica.jpg?auto=format&q=50%20class=" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Políticas de tratamiento de datos personales</h5>
                  <p class="card-text">MinCIT adoptó mediante Resolución 1197 de 2021 el Manual de Política de Protección de Datos Personales</p>
                  <a href="https://www.mincit.gov.co/servicio-ciudadano/politicas-de-tratamiento-de-datos-personales/res-1197-adopta-manueal-tratamiento-datos-personal.aspx" class="btn btn-primary stretched-link">Ir a resolucion</a>
                </div>

            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}